<h1><%= @newspaper.title %></h1>

<h3>Edited by: <%= @newspaper.user.name %></h3>

<h4>Subscription plans:</h4>
<% @newspaper.subscription_plans.each do |sp| %>
  Price: $<%= sp.price %>
  <br>
  Type: <%= sp.is_weekly ? "Weekly" : "Daily" %>
  <% if @current_user.subscription_plans.include?(sp) %>
    <%= button_to "Unsubscribe", subscription_url(sp), method: :delete %>
  <% else %>
    <form action="<%= subscriptions_url %>" method="post">
      <input type="hidden" name="subscription[subscription_plan_id]" value="<%= sp.id %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Subscribe">
    </form>
  <% end %>
  <% if @newspaper.user == @current_user %>
    <%= button_to "Edit", edit_newspaper_subscription_plan_url(@newspaper.id), method: :get %>
    <%= button_to "Delete", newspaper_subscription_plan_url(@newspaper.id, sp.id), method: :delete %>
  <% end %>
  <br>
  <br>
<% end %>

<% if @newspaper.user == @current_user %>
  <%= button_to "Edit newspaper", newspaper_url(@newspaper), method: :edit %>
  <%= button_to "Delete newspaper", newspaper_url(@newspaper), method: :delete %>
  <%= link_to "Add subscription plan", new_newspaper_subscription_plan_url(@newspaper.id)  %>
<% end %>