<!DOCTYPE html>
<html>
<head>
  <title>NewspaperSubscriptions</title>
  <%= csrf_meta_tags %>
</head>
<body>
<%= "Logged in as: #{@current_user.name}" if @current_user %>
<br>
<br>
<% if flash[:notices] %>
  <%= flash[:notices] %>
  <% flash[:notices] = nil %>
<% end %>

<%= yield %>

<br>
<br>
<%= button_to "Sign out", sessions_url, method: :delete %>
</body>
</html>
